<%= render partial: "items/header" %>
<div class="main-contents">
  <div class="wrapper">
    <div class="side-bar">
      <%= render "side_bar" %>
    </div>
    <div class= "user-wrapper">
    </div>
  </div>
</div>
<%= render partial: "items/footer" %>