<%= render partial: "items/header" %>
<div class="main-contents">
  <div class="wrapper">
    <div class="side-bar">
      <%= render "side_bar" %>
    </div>
    <div class= "user-wrapper">
      <div class="user-wrapper-header">
        <%= image_tag "test_image.png", :size => '700x300',class:"header-image" %>
      </div>
      <div class="mypage-tab-container">
        <div class="mypage-tab-head">
          <h2>購入した商品</h2>
        </div>
          <ul class="mypage-tabs">
            <li class="mypage-tab"><a href="#">取引中</li>
            <li class="mypage-tab"><a href="#">過去の取引</li>
          </ul>
        <div class="tab-content">
         <p>ここにタブを切り替えた時の奴が入るよ</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "items/footer" %>