.main-contents{
  background: #f5f5f5;
  padding: 40px 0;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 1020px;
  justify-content: space-between;
}

.user-wrapper{
  min-height: calc(100vh - 161px);
  background-color:black;
  width: calc(1020px - 300px);
  margin-left: 40px;
}

.side-bar {
  width: 300px;
  height: 100vh;
}

